/* CSS Document */
body{ margin:0; padding:0;}
.skdslider{
 height: 275px;
 width:100%;
 position: relative;
}
.skdslider ul.slides{ margin:0; padding:0; list-style-type:none;}

.skdslider ul.slides li
{
   height: 275px;
   left: 0;
   position: absolute;
   top: 0;
   display: none;
  width:100%;
}
.skdslider ul.slides li img{
    width: 100%;
	height:100%;
	border:0;
}

.skdslider .slide-navs {
    bottom: 3px;
    left: 50%;
    position: absolute;
	list-style-type: none;
	 margin: 0;
    padding: 0;
}


.skdslider .slide-navs li 
{
        float: left;
	//background: url(../Forums_files/slide-bg.png) no-repeat scroll 0 0 transparent;
	height:12px;
	width:12px;
	margin-right:4px;
	cursor:pointer;
}
.skdslider .slide-navs li.current-slide 
{
  //background: url(../Forums_files/slide-bg-active.png) no-repeat scroll 0 0 transparent;
}


.skdslider a.prev
{
    //background: url(../Forums_files/left.png) no-repeat scroll 0 0 transparent;
	width:8px;
	height:14px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:48%;
	left:1%;
	
}

.skdslider a.next
{
        //background: url(../Forums_files/right.png) no-repeat scroll 0 0 transparent;
	width:8px;
	height:14px;
	display:block;
	cursor:pointer;
	position:absolute;
	top:48%;
	right:1%;
	
}
.skdslider a.prev:hover
{
  
}
.skdslider a.next:hover
{
  
}

.skdslider a.play
{
        //background: url(../Forums_files/play.png) no-repeat scroll center center transparent ;
	width:17px;
	height:17px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:49%;
	
}

.skdslider a.pause
{
        //background: url(../Forums_files/pause.png) no-repeat scroll center center transparent;
	width:17px;
	height:17px;
	display:none;
	cursor:pointer;
	position:absolute;
	top:50%;
	left:49%;
	
}